@import url("https://fonts.googleapis.com/css2?family=Caladea&family=Crimson+Text&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fuentes
font-family: 'Caladea', serif;
font-family: 'Crimson Text', serif;
 */
/* un punto adelante siempre llama la clase */

@font-face {
  font-family: "logo";
  src: url(../assets/fonts/CrazyWish.otf);
}

/* header */
header {
  background-color: #64403e;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ccd5ae;
}

nav ul {
  list-style-type: none;
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  /* align-items: center; */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* main */
main {
  background-color: #c9cebd;
}

.cuotas {
  text-align: center;
  background-color: chocolate;
  padding: 10px 0px;
}

.cuotas p {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.banner {
  background-image: url("../assets/img/Banner.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Tratamientos Faciales / Tratamientos Corporales / Depilación definitiva */
.tituloPrincipal {
  padding-top: 35px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item h3 {
  padding-top: 15PX;
}

.item p {
  padding-top: 15PX;
  font-size: 16px;
}

/* Contactos */
.mapa {
  width: 100%;
  height: 450px;
  border: 0;
}

.formulario {
  display: flex;
  justify-content: centers;
}

footer {
  background-color: #ccd5ae;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9375rem 0.9375rem;
}

.domicilio {
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
  list-style: none;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.9375rem;
  padding: 0.3125rem 0rem;
}

@media (max-width: 798px) {
  header {
    flex-direction: column;
  }

  nav {
    padding-top: 10px;
  }

  .domicilio {
    justify-content: center;
  }

  .redes {
    justify-content: center;
  }
}

@media (max-width: 510px) {
  header {
    padding: 15px;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .domicilio {
    /* justify-content: center; */
    display: inline;
  }

  .redes {
    justify-content: center;
  }
}